.btn-success {
  background-color: #161212 !important;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  color: #9E78cf !important;
  font-size: 2rem;

  &:hover {
    background-color: #09050e9c;
  }
}
