
.pending-tasks {  
   
  .list-group-item {
    background-color: #161212 !important;
    border: none !important;
    border-radius: 8px !important;   
    margin-bottom: 0.5rem !important;
    color: white;
  }
 

}
